$blue: #007AFF; 

.bg1 {
    background-color: red;
}

.bg2 {
    background-color: green;
}


.strength-button {
    margin: 5;
}

.dose-button {
    margin: 5;
}

.dose {
    margin-top: 10; 
}

.quota  {
    margin-top: 10; 
}
    

.record-button {
    vertical-align: top; 
}

.btn-blue-filled {
    text-align: center; 
    border-color: #007AFF;
    background-color: #007AFF; 
    border-radius: 8;
    border-width: 1;
    color: white;
    margin: 5; 
}

