.bg1 {
    background-color:  green;
}


.bg2 {
    background-color:  blue;
}


.bg3 {
    background-color:  red;
    
}

.bg4 {
    background-color:  yellow;
} 
.tileText {
    vertical-align: middle;
    margin-top: 46%;
    color: white; 
    font-size: 20;
    font-weight: bold; 
}

.side-margin {
    margin-left: 17; 
    margin-right: 17; 
}

.cardStyle {
    margin-left: 12; 
    margin-right: 12;
}


