.bg1 {
    background-color:  green;
}


.bg2 {
    background-color:  blue;
}


.bg3 {
    background-color:  red;
    
}

.bg4 {
    background-color:  yellow;
} 

.template-item {
    height: auto;
    font-size: 17;
    vertical-align: center;
    line-height: 100%;
    margin-top: 10; 
    margin-bottom: 10; 
    color: #47525E; 
}

.title{
    line-height: 100%;
}

.arrow_style {
    font-size: 14;
}

.settings_container {
    margin-left: 15;
}
